{% extends 'base.html' %}

{% block content %}
<div class="section">
  <div class="container">
    {% for a in articles %}
    <a href="#">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ a['title'] }}</p>
              {% if a['author'] %}
              <p class="subtitle is-6 is-family-secondary">{{ a['author'] }}</p>
              {% endif %}
            </div>
          </div>
          <div class="content">
            {{ a['body'] | truncate(300)}}...
            <br>
            <time class ="has-text-weight-light" datetime="2016-1-1">{{ a['date'] }}</time>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}